@import '../../../style/variables';
@import '../../../style/typography';
body{
    font-family: $font-default;
    background-color: white;
    color: $dark-teal;
    margin: 0; 
    padding: 0; 
    overflow-x: hidden;
}
.color-1{
  color: $light-turtoise;
}
.color-2{
  color: $dark-teal;
}

.breadcrumb {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: transparent;
    .breadcrumb-item {
        max-width: 360px; 
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        flex: 0 0 auto; 
        padding-right: 4px;
      }
      
      .breadcrumb-item + .breadcrumb-item::before {
        content: ">"; 
        padding: 0 4px; 
        color: $dark-teal; 
      }
      
      .breadcrumb-item a {
        text-decoration: none;
        color: $dark-teal; 
        vertical-align: top; 
      }
      
      .breadcrumb-item.active a {
        color: $dark-teal; 
      }
  }

  .background-div {
    background-image: url('/assets/img/BG2.svg');
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center center;
    height: 340px;
    min-height: 300px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Set width to full viewport width */
    max-width: 100%; /* Ensures it doesn't exceed the width of the viewport */
}
.search-button{
    width: fit-content;
}
.title-bg{
    @include font-h1-extra-bold;
    background-color: $light-turtoise;
    opacity: 0.8;
    width: fit-content;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0px 32px 64px -12px rgba(0, 0, 0, 0.14);
    padding: 4px 17px 0px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.search-divider {
    border-left: 2px solid $dark-teal;
    height: 30px;
    margin: 0 10px;
}

.search-input, .search-select, .input-group-text {
    background-color: transparent;
    border: none;
    box-shadow: none;
    flex-grow: 1;
    outline: none;
    color: $dark-teal;
    padding: 0 10px;
}
.search-select {
    background-color: transparent;
    border: none;
    box-shadow: none;
    flex-grow: 1;
    outline: none;
    color: $dark-teal;
    padding: 0 10px;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    background-image: none; 
    position: relative;  
}




.search-button {
    margin-left: auto;
    border-radius: 30px;
    background-color: $light-turtoise;
    color: $dark-teal;
    border: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken($light-turtoise, 10%);
    }

    &:active {
        background-color: darken($light-turtoise, 20%);
    }
}
  
  
.company{
    width: 320px;
    height: fit-content;
    border: 1px solid $dark-teal;
    border-radius: 20px;
    padding: 20px 20px;
    .company-logo{
        width: 148px;
        height: 148px;
        border-radius: 50%;
        margin-bottom: 16px;
    }
    .company-name{
        @include font-h5-extra-bold;
        margin-bottom: 16px;

    }
    .company-details{
        @include font-medium-normal;
        margin-bottom: 16px;

    }
    .company-infor{

        @include font-h6-extra-bold;
        margin-bottom: 16px;

        .phone{
            @include font-regular-normal;
        }
        .email{
            @include font-regular-normal;
        }
    }
}
.recommend{
    
    width: 340px;
    .rec-job-item{
      text-decoration: none;
      color: $dark-teal;
    }
    .rec-job-logo{
      width: 300px;
      height: auto;
    }
    .rec-job-name{
      word-wrap: break-word;
      white-space: normal;
      overflow-wrap: break-word;
      text-align: left;
      @include font-large-normal;
      width: 280px;
      margin: 12px;
    }
    .rec-job-info{
      margin-top: 8px;
      @include font-regular-normal;
    }
    .sub-section-title{
      @include font-h4-extra-bold;
      text-align: center;
    }
}
hr {
    border: none; 
    height: 2px; 
    background-color: $dark-teal; 
    margin: 12px;
  }
.detail_job{
    padding: 0px 12px;
    width: 640px;
    .author{
        margin-bottom: 12px;
        .author-ava{
            width: 64px;
            height: 64px;
            border-radius: 50%;
        }
        .name{
            @include font-large-normal;
        }
        .time{
            @include font-regular-normal;
        }
    }
    .title{
        @include font-h5-extra-bold;
        margin-bottom: 12px;

    }
    .poster{
        width: 620px;
        height: 500px;
        margin-bottom: 12px;

    }
    .tag{
        background-color: $light-turtoise;
        border-radius: 20px;
        margin-bottom: 12px;
        padding: 16px 24px;
        @include font-large-normal;
    }
    .content{
        .title{
            @include font-h5-extra-bold;

        }
        .sub-title{
            @include font-h6-extra-bold;
            margin-top: 4px;
        }
        .context{
            @include font-medium-normal;
            margin-bottom: 4px;
        }



    }

}

button {
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-in-out; 
    width: 100%;
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    @include font-large-medium;
    color: $dark-teal;
  }
button:hover {
    transform: translateY(-5px);
    color: white;
}
  
  button.primary {
    background-color: $light-turtoise; 
  
    &:hover {
      background-color: darken($light-turtoise, 10%); 
    }
  
    &:active {
      background-color: darken($light-turtoise, 20%); 
      transform: translateY(2px); 
    }
  }
  
  button.secondary {
    background-color: white; 
    border: 1px solid $dark-teal;
  
    &:hover {
      background-color: darken(white, 20%); 
      border: 1px solid darken(white, 20%);
    }
  
    &:active {
      background-color: darken(white, 50%);  
      transform: translateY(2px); 
    }
  }